@import "styles/main";

.rooms-page {

  .container {
    max-width: 90rem;
    margin: 0 auto;
  }

  &__reservation {

    width: 100%;
    position: sticky;
    z-index: 10;
    top: 0;
  }

  .banner {
    background-image: url("../../../assets/images/banner-rooms.jpg");
  }

  &__body {
    background-image: url('../../../assets/images/bg-royal.jpg');
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    // padding-top: 4rem;
    background-color: #F8F8F8;

    .container {
      display: flex;
      padding: 32px 24px;
    }
  }

  &__filter {
    width: 250px;
  }

  &__list {
    width: calc(100% - 250px);
    padding-left: 24px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;

  }

  .ant-checkbox-checked::after {
    border: 1px solid $primary;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: $primary;
    border-color: $primary;
  }

  .ant-slider-handle {
    border: solid 2px rgba($primary, 0.8);
  }

  .ant-slider-track {
    position: absolute;
    height: 4px;
    background-color: rgba($primary, 0.8);
    border-radius: 2px;
    transition: background-color 0.3s;
  }

  .ant-slider-handle:focus {
    border-color: rgba($primary, 0.8);
  }

  .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
    border-color: rgba($primary, 0.8);
  }

  .ant-slider:hover .ant-slider-track {
    background-color: rgba($primary, 0.8);
  }
}

@include Responsive(lg) {
  .rooms-page {
    font-size: 90%;

    &__banner {
      height: 45vh;
    }

    &__list {
      margin: 0 0.5rem;
    }

    &__body {
      .container {
        padding-top: 4rem;
      }
    }
  }
}

@include Responsive(md) {
  html {
    font-size: 100%;
  }

  .rooms-page {

    &__list {
      width: 100%;
      margin: 0 0.2rem;
    }

    &__filter {
      display: none;
    }

    &__body {
      .container {
        padding-top: 4rem;
      }

      button {
        margin: 0.5rem 1rem;
      }
    }
  }
}

@include Responsive(sm) {
  html {
    font-size: 60%;
  }
}

@include Responsive(xs) {
  html {
    font-size: 50%;
  }
}