@import "styles/main";

.footer {
  background-image: url(".../../../../assets/images/bg-footer.png");
  display: block;
  padding: 5rem 3rem;

  .container {
    max-width: 90rem;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  &__title {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: $font-family-heading;
    color: $primary;

    padding-bottom: 1.5rem;
  }

  &__address {

    &-list {
      display: flex;
      flex-direction: column;


    }

    &-item {
      display: flex;
      align-items: center;
      padding-bottom: 1rem;
      font-size: 1.1rem;
      color: $white;

      transition: all 0.3s;

      span {
        margin-right: 0.7rem;
      }

      &:hover {
        cursor: pointer;
        color: $primary;
      }
    }

  }

  &__menu {

    &-list {
      display: flex;
      flex-direction: column;


    }

    &-item {

      display: flex;
      padding-left: 0.2rem;
      padding-bottom: 1rem;

      align-items: center;
      font-size: 1.1rem;
      color: $white;

      transition: all 0.3s;

      &:hover {
        a {
          color: $primary;
        }

        cursor: pointer;

      }
    }

  }

  &__contact {

    &-form {
      display: flex;
      justify-content: center;
      padding-bottom: 1rem;

      input {
        max-width: 12rem;
        padding: 0.2rem 1rem;
        border: none;
        font-size: 1.2rem;
        margin-right: 0.5rem;
        outline: none;

      }

      button {
        @include button-custom($white, $primary);
        padding: 0.5rem 1rem !important;
        border: none;
        border-radius: 2px;

      }
    }

    &-social {
      display: flex;

      a {
        padding: 0.4rem 0.4rem 0.2rem 0.4rem;
        display: block;
        justify-content: center;
        align-items: center;
        background-color: $primary;
        color: $white;
        margin-left: 0.7rem;
        border-radius: 2px;

        span {
          font-size: 1.2rem;
        }

        &:hover {
          .icon {
            &-facebook {
              color: #40a9ff;
            }

            &-instagram {
              color: #ff4d4f;
            }

            &-printerest {
              color: #f759ab;
            }
          }
        }
      }
    }

  }

}

@include Responsive(md) {
  .footer {
    padding: 5rem 0.5rem;
  
  }

}

@include Responsive(sm) {
  .footer {
    padding-left: 2rem;
   .container{
     flex-direction: column;
   }
   &__logo{
     padding-bottom: 2rem;
   }
   &__contact{
     &-form{
       input{
         margin-bottom: 1rem;
       }
      justify-content: flex-start;
     }
   }

  }
}
@include Responsive(sm) {
  .footer {
    padding-left: 0.8rem;

  }
}