@import "styles/main";

.feature-room {
  display: flex;
  width: 100%;
  color: $primary;
  height: 42rem;
  margin-bottom: 4rem;
  &__left,
  &__right {
    width: 50%;
    overflow: hidden;
  }

  &__left {
    transition: all 1s;
    
  }
  &__img{
    display: block;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    img{
      display: block;
      min-width: 100%;
    }
  }

  &__right {
    background-image: url("../../../../../assets/images/bg-black.jpg");
    display: flex;
    flex-direction: column;
  
    align-items: center;

    transition: all 1s;
    position: relative;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: $font-family-heading;

    padding-bottom: 1rem;
    padding-top: 5rem;
    transition: all 1s;
  }

  &__line2 {
    padding-bottom: 1.5rem;
  }

  &__price {
    font-size: 3.5rem;
    font-family: $font-family-heading;
    text-align: center;
   

    span {
      font-size: 1rem;
      display: block;
      font-family: $font-family-heading;
      padding-top: 0.5rem;
    }
  }

  p {
    font-size: 1rem;
    font-family: $font-family-base;
    color: #b1aca3;
    text-align: center;
    line-height: 1.5rem;

    padding-top: 2rem;
    display: block;
    max-width: 30rem;
  }

  &__services {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 8rem;
    li {
      padding-left: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding-top: 2rem;
    }

    span {
      font-size: 2rem;
    }
  }

  input {
    display: none;
  }
  input:checked ~ label{
    background-color: $primary !important;
  }
  label {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgba($primary, $alpha: 0.5);
    cursor: pointer;

    transition: all 0.5s;
  }

  &__dots {

    position: absolute;
    bottom: 4rem;
    left: 48%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    li+li {
      margin-left: 0.7rem;
    }

    

  }
}