@import '../../../styles/main.scss';

.roomType-title {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
  display: flex;
  justify-content: flex-end;
}
.roomType-list {
  // height: 100%;
  min-height: $admin-content-height;
}


// Customize ant -----

.add-roomType-btn {
  margin-bottom: 1rem;

  font-size: .9rem;
  font-family: $font-family-base;
  border-radius: 4px;
  border: 1px $primary;
  background-color: $primary;
  // &:hover {
    // cursor: pointer;
    // background-color: #d6b76e;
  // }
}
.edit-roomType-btn {
  text-transform: none !important;
  border-radius: 4px !important;
}

// .typeRoom-images {
//   display: flex;
//   align-items: center;
// }

.ant-table-content {
  font-family: $font-family-base;
}