@import "styles/main";

.filter-room {
  display: block;
  border-radius: 3px;
  background-color: $white;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    height: 42px;
    padding: 0 16px;
    background-color: #383838;
    color: white;

    .clear__filter {
      font-size: 1.2rem;
      font-weight: 400;
      color: $primary;
      cursor: pointer;
    }
  }

  &__main {
    padding: 16px;

    & > * {
      margin-bottom: 16px;
    }
  }

  .rate {
    font-size: 0.9rem;
  }

  &__title {
    position: relative;
    font-size: 1.2rem;
    font-weight: 400;
   
    font-family: $font-family-base;
    // border-bottom: 1px solid $primary;
    margin-bottom: 1rem;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 40px;
      height: 2px;
      background-color: $primary;
    }
  }

  .ant-checkbox-group-item {
    display: flex;
    margin-right: 0;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  .number-price {
    display: flex;
    justify-content: space-between;
  }
}