@import '../../../styles/main.scss';

.login {
  width: 100%;
  margin: 0 auto;
  padding: 3rem auto;

  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  
  &__container {
    display: flex;
    width: 100%;
    min-height: 100vh;
  }

  &__side {
    width: 66%;
    height: 100vh;

    background-image: url("../../../assets/images/gallery/xbg_7.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    width: 28%;
    margin: .65rem auto;
    padding-top: 0.3rem;
    padding-bottom: 0.65rem;

    background-color: rgba(255, 255, 255, 1);
    z-index: 1;

    &__logo {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 1rem auto;
    }
  }
}

// Responsive -----------
// pc HD
@include Responsive(md) {
  .login {
    &__side {
      width: 62%;
      height: 100vh;
    }
  
    &__content {
      width: 34%;
      margin: auto;
    }
  }
}

// Tablet
@include Responsive(sm) {
  .login {
    &__container {
      display: block;
      height: 100%;
    }

    &__side {
      width: 100%;
      height: 300px;
    }
  
    &__content {
      width: 85%;
      margin: auto;
    }
  }
}
// Mobile device
@include Responsive(xs) {
  .login {
  
    &__side {
      width: 100%;
      height: 300px;
    }
  
    &__content {
      margin: auto;
    }
  }
}

// custom Antd ----------
.ant-btn-primary {
  height: 36px;

  text-transform: uppercase;
  font-size: .95rem;
  border-radius: 4px;
}
.ant-tabs-tab-btn {
  font-size: 1.5rem;
  font-weight: 400;
}