@import 'styles/main';

.reservation {
  display: flex;
  max-width: 65rem;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  //box-shadow: 2px 2px 4px #e1e1e1;
  border-radius: 2px;

  background-color: $white;
  color: $primary;

  input,
  .ant-select-item-option-content {
    font-size: 1rem !important;
  }

  &__item {
    min-width: calc(100% / 4);
    text-align: center;

    &-title {
      font-family: $font-family-heading;
      font-size: 1.2rem;
      font-weight: 600;
      padding-bottom: 1rem;
      color: $primary;

    }

    .btn-check {
      font-weight: 600;
      font-family: $font-family-heading;
      padding: 1rem 1rem;
      border-radius: 2px;
      box-shadow: null;
      color: $white;
      background-color: $primary;
      border: none;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

    }
  }

  &__select {
    width: 200px;
    font-size: 1.1rem;
  }
}

@include Responsive(md) {
  .reservation {
    display: flex;

    &__select {
      width: 150px;
      font-size: 1.1rem;
    }

    .btn-check {
      margin-top: 2rem;
    }
  }
}

@include Responsive(sm) {
  .reservation {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1rem 0;

    &__select {
      width: 100px;
      font-size: 1.1rem;
    }

    &__title {
      font-size: 1.9rem;
      font-weight: 600;
      color: $primary;

      padding-bottom: 1rem;

    }

    &__item {
      padding-bottom: 2rem;
    }

    .btn-check {
      margin-top: 2rem;
      background-color: $white;
      color: $primary;

      border: 1px solid $primary;

      &:hover {
        background-color: $primary;
        color: $white;
      }
    }

    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      height: 28px;

    }

  }

}

.ant-picker-dropdown,.ant-select-dropdown {
  z-index: 9 !important;
}

@include Responsive(xs) {
  .reservation {
    width: 30rem;
    box-shadow: none;

    &__item {
      width: 50%;
      padding-bottom: 1rem;
      padding-right: 1rem;

    }
  }
}