@import '../../../../styles/main.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: $sidebar-width;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #2c353e;
  scroll-behavior: smooth;
  overflow-y: none;
  transition: all 0.2s ease-in-out;
  // OK
  &__header {
    line-height: $admin-header-height;
    margin: 0;
    padding: 0;

    .brand {
      display: flex;

      .title {
        margin: 0;
        padding: 0;
        font-size: 1.25rem;
        font-family: $font-family-heading;
        font-weight: 700;
        color: $primary;
      }
    }

    &__logo {
      padding-left: 0;
      padding-right: .6rem;
      text-align: left;
      & > img {
        display: block;
        width: 80px;
        padding-top: .2rem;
      }
    }

    font-size: 1rem;
  }
  // OK
  &__menu {
    padding: 1rem;
  }
  // OK
  &__list {
    list-style: none;
    padding-left: 1.2rem;
    margin: .5rem auto;    
  }
  // OK
  .link {
    display: flex;
    align-items: center;
    padding: .6rem;
    color: rgba(255, 255, 255, 0.5);
  }
  // OK
  &__item {
    display: block;
    margin-bottom: .8rem;

    span.item-title {
      padding-left: .8rem;
    }

    &:hover {
      background-color: $primary;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      .link {
        display: flex;
        align-items: center;
        color: #fff;
      }
    }
    &--active {
      

      background-color: $primary;
      color: #fff;
      font-family: $font-family-base;
      border-radius: 5px;
      cursor: pointer;

      .link {
        display: flex;
        align-items: center;
        color: #fff;
      }

      span.item-icon {
        
      }

      span.item-title {
        padding-left: .8rem;
      }
    }

    font-family: $font-family-base;
    font-size: 1rem;
    transition: all 0.15s ease;
  }
  // OK
  &__title {
    margin: 1rem .8rem;

    font-size: 1.15rem;
    color: $primary;
  }
  // OK
  &__footer {
    width: 32px;
    height: 32px;

    color: #fff;
    font-size: 2rem;
    border-radius: 5px;
    border: 1px solid $primary;
    background-color: $primary;
  }
}

// Hide sidebar item =========
.sidebar--hide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #2c353e;
  scroll-behavior: smooth;
  overflow-y: none;
  transition: all 0.2s ease-in-out;

  .sidebar__header__logo {
    display: none;
  }
  .title {
    display: none;
    transition: all 0.4s ease-in-out;
  }
  .sidebar__title {
    display: none;
    transition: all 0.4s ease-in-out;
  }

  ul.sidebar__list {
    list-style: none;
    padding: 0;
    margin: .5rem auto;

    li .item-title {
      display: none;
      transition: all 0.4s ease-in-out;
    }

    li.sidebar__item:hover > .link--hide {
      color: #fff;
    }

    li.sidebar__item--active > .link--hide {
      display: flex;
      
      align-items: center;
      color: #fff;
    }

    li > .link--hide {
      display: flex;
      align-items: center;
      padding: .3rem;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  span.item-icon {
    font-size: 1.4rem;
  }

  &__footer {
    width: 32px;
    height: 32px;

    color: #fff;
    font-size: 2rem;
    border: 1px solid $primary;
    background-color: $primary;
  }
}
.sidebar__menu--hide {
  padding: 1rem;
  padding-top: 70px;
}


// Other =======

::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
