@import "../../../../../styles/main";

.comment-item {
  padding: 16px 0;
  border-bottom: 1px solid #F0F0F0;
  font-family: $font-family-base;
  display: flex;

  justify-content: space-between;
}

.comment__user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.user__name {
  padding-left: 1rem;

  h4 {
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 0.4rem;
    padding-top: 0.3rem;
    color: #737171;
  }

  small {
    color: #929191;
    font-size: 0.9rem;
  }
}


.comment__title {
  clear: both;
  font-size: 1.1rem;
  font-weight: 400;
  color: #464545;
}

.comment__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 500px;
}

.comment__description {
  font-size: 1rem;
  color: #757474;
}

.comment__review {
  display: flex;
  flex-direction: column;
  &-item {
    display: flex;
    margin-right: 1rem;

    p {
      width: 80px;
      font-weight: 700;
      padding-right: 0.5rem;
      color: #737171;
    }

    .rate {
      font-size: 0.8rem;
    }
  }
}